*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    line-height: 1.5;
}
a {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    }

li {
    list-style-type: none;
    text-align: center;
    margin: 0 10px;
}

li a:hover{
    color: white;
    background: #374a67;
}
.hidden {
    display:none; 
}

.show{
    display: block;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:64px;
    padding-left: 5%;
    padding-right: 5%;
}

#burger{
    border: none;
    background: transparent;
}

@media (min-width: 60em) {
    .hidden{
        display: block;
    }
    #burger{
        display: none;
    }
    nav ul{
        display: flex;
        margin: 0;
        padding: 0;
    }
}


